/* 256x256 grid | 1px = 0.03781m | ceiling: 75px */

#r1.room                    { left:   2; top:  79; width: 124; height:  98; /* Kitchen */ }
#r2.room                    { left: 130; top:  79; width: 124; height:  98; /* Living Room */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  79; }
#structure_1.obstacle       { left:   0; top:  79; width:   2; height: 177; }
#structure_2.obstacle       { left: 126; top:  79; width:   4; height: 177; }
#structure_3.obstacle       { left: 254; top:  79; width:   2; height: 177; }
#structure_4.obstacle       { left:   2; top: 177; width: 124; height:  79; }
#structure_5.obstacle       { left: 130; top: 177; width: 124; height:  79; }
#door_o1_clearance_r1.door  { left: 106; top: 116; width:  22; height:  24; }
#door_o1_clearance_r2.door  { left: 128; top: 116; width:  22; height:  24; }
#door_o2_clearance.door     { left:   2; top: 116; width:  22; height:  24; }

#window_o3.window           { left:  50; top:  79; width:  28; height:   8; --sill: 24; }
#window_o4.window           { left: 177; top:  79; width:  28; height:   8; --sill: 24; }
