/* 256x256 grid | 1px = 0.026091m | ceiling: 104px */

#r1.room                    { left:   3; top:  22; width: 250; height: 104; /* Living Room */ }
#r2.room                    { left:   3; top: 130; width: 123; height: 104; /* Bedroom */ }
#r3.room                    { left: 130; top: 130; width: 123; height: 104; /* Bathroom */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  22; }
#structure_1.obstacle       { left:   0; top:  22; width:   3; height: 234; }
#structure_2.obstacle       { left: 253; top:  22; width:   3; height: 234; }
#structure_3.obstacle       { left:   3; top: 126; width: 250; height:   4; }
#structure_4.obstacle       { left: 126; top: 130; width:   4; height: 126; }
#structure_5.obstacle       { left:   3; top: 234; width: 123; height:  22; }
#structure_6.obstacle       { left: 130; top: 234; width: 123; height:  22; }
#door_o1_clearance.door     { left:   2; top:  55; width:  31; height:  36; }
#door_o2_clearance_r1.door  { left:  48; top:  97; width:  32; height:  31; }
#door_o2_clearance_r2.door  { left:  48; top: 128; width:  32; height:  31; }
#door_o3_clearance_r1.door  { left: 175; top:  97; width:  32; height:  31; }
#door_o3_clearance_r3.door  { left: 175; top: 128; width:  32; height:  31; }

#window_o4.window           { left: 241; top: 162; width:  12; height:  40; --sill: 35; }
#window_o5.window           { left: 105; top:  22; width:  46; height:  12; --sill: 35; }
#window_o6.window           { left:  44; top: 221; width:  40; height:  12; --sill: 35; }
