/* 256x256 grid | 1px = 0.041716m | ceiling: 68px */

#r1.room                    { left:   2; top: 130; width:  89; height:  88; /* Kitchen */ }
#r2.room                    { left:  94; top: 130; width:  88; height:  88; /* Dining Room */ }
#r3.room                    { left:  94; top:  38; width: 160; height:  88; /* Living Room */ }
#r4.room                    { left:   2; top:  38; width:  89; height:  88; /* Bedroom */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  38; }
#structure_1.obstacle       { left:   0; top:  38; width:   2; height: 218; }
#structure_2.obstacle       { left:  91; top:  38; width:   3; height: 218; }
#structure_3.obstacle       { left: 254; top:  38; width:   2; height: 218; }
#structure_4.obstacle       { left:   2; top: 126; width:  89; height:   4; }
#structure_5.obstacle       { left:  94; top: 126; width: 160; height:   4; }
#structure_6.obstacle       { left: 182; top: 130; width:  72; height: 126; }
#structure_7.obstacle       { left:   2; top: 218; width:  89; height:  38; }
#structure_8.obstacle       { left:  94; top: 218; width:  88; height:  38; }
#door_o1_clearance.door     { left:   1; top: 162; width:  20; height:  22; }
#door_o2_clearance_r1.door  { left:  72; top: 158; width:  20; height:  30; }
#door_o2_clearance_r2.door  { left:  92; top: 158; width:  20; height:  30; }
#door_o3_clearance_r2.door  { left: 126; top: 128; width:  22; height:  20; }
#door_o3_clearance_r3.door  { left: 126; top: 108; width:  22; height:  20; }
#door_o4_clearance_r3.door  { left:  92; top:  72; width:  20; height:  20; }
#door_o4_clearance_r4.door  { left:  72; top:  72; width:  20; height:  20; }

#window_o5.window           { left: 246; top:  65; width:   8; height:  34; --sill: 20; }
#window_o6.window           { left:  31; top:  37; width:  30; height:   8; --sill: 22; }
#window_o7.window           { left:  34; top: 210; width:  24; height:   8; --sill: 22; }
#window_o8.window           { left: 125; top: 210; width:  24; height:   8; --sill: 22; }
