/* 256x256 grid | 1px = 0.041716m | ceiling: 68px */

#r1.room                    { left:   2; top:   2; width:  65; height:  65; /* Entryway */ }
#r2.room                    { left:  70; top:   2; width: 112; height:  65; /* Kitchen */ }
#r3.room                    { left:   2; top:  70; width: 136; height:  88; /* Living Room */ }
#r4.room                    { left: 142; top:  70; width: 112; height:  88; /* Bedroom */ }
#r5.room                    { left: 185; top:   2; width:  69; height:  65; /* Bathroom */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:   2; }
#structure_1.obstacle       { left:   0; top:   2; width:   2; height: 254; }
#structure_2.obstacle       { left:  67; top:   2; width:   3; height:  68; }
#structure_3.obstacle       { left: 182; top:   2; width:   3; height:  68; }
#structure_4.obstacle       { left: 254; top:   2; width:   2; height: 254; }
#structure_5.obstacle       { left:   2; top:  67; width:  65; height:   3; }
#structure_6.obstacle       { left:  70; top:  67; width: 112; height:   3; }
#structure_7.obstacle       { left: 185; top:  67; width:  69; height:   3; }
#structure_8.obstacle       { left: 138; top:  70; width:   4; height: 186; }
#structure_9.obstacle       { left:   2; top: 158; width: 136; height:  98; }
#structure_10.obstacle      { left: 142; top: 158; width: 112; height:  98; }
#door_o1_clearance.door     { left:   1; top:  23; width:  20; height:  22; }
#door_o2_clearance_r1.door  { left:  48; top:  23; width:  20; height:  22; }
#door_o2_clearance_r2.door  { left:  68; top:  23; width:  20; height:  22; }
#door_o3_clearance_r1.door  { left:  23; top:  48; width:  22; height:  20; }
#door_o3_clearance_r3.door  { left:  23; top:  68; width:  22; height:  20; }
#door_o4_clearance_r3.door  { left: 119; top: 103; width:  20; height:  20; }
#door_o4_clearance_r4.door  { left: 139; top: 103; width:  20; height:  20; }
#door_o5_clearance_r4.door  { left: 209; top:  68; width:  20; height:  20; }
#door_o5_clearance_r5.door  { left: 209; top:  48; width:  20; height:  20; }

#window_o6.window           { left: 246; top:  96; width:   8; height:  34; --sill: 20; }
#window_o7.window           { left:  50; top: 150; width:  40; height:   8; --sill: 22; }
#window_o8.window           { left: 110; top:   1; width:  30; height:   8; --sill: 24; }
#window_o9.window           { left:  22; top:   1; width:  24; height:   8; --sill: 22; }
#window_o10.window          { left: 207; top:   1; width:  24; height:   8; --sill: 22; }
