/* 256x256 grid | 1px = 0.041716m | ceiling: 68px */

#r1.room                    { left:   2; top: 142; width:  65; height:  64; /* Entryway */ }
#r2.room                    { left:  70; top: 142; width: 112; height:  64; /* Kitchen */ }
#r3.room                    { left:   2; top:  50; width: 136; height:  88; /* Living Room */ }
#r4.room                    { left: 142; top:  50; width: 112; height:  88; /* Bedroom */ }
#r5.room                    { left: 185; top: 142; width:  69; height:  64; /* Bathroom */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  50; }
#structure_1.obstacle       { left:   0; top:  50; width:   2; height: 206; }
#structure_2.obstacle       { left: 138; top:  50; width:   4; height:  92; }
#structure_3.obstacle       { left: 254; top:  50; width:   2; height: 206; }
#structure_4.obstacle       { left:   2; top: 138; width: 136; height:   4; }
#structure_5.obstacle       { left: 142; top: 138; width: 112; height:   4; }
#structure_6.obstacle       { left:  67; top: 142; width:   3; height: 114; }
#structure_7.obstacle       { left: 182; top: 142; width:   3; height: 114; }
#structure_8.obstacle       { left:   2; top: 206; width:  65; height:  50; }
#structure_9.obstacle       { left:  70; top: 206; width: 112; height:  50; }
#structure_10.obstacle      { left: 185; top: 206; width:  69; height:  50; }
#door_o1_clearance.door     { left:   1; top: 162; width:  20; height:  22; }
#door_o2_clearance_r1.door  { left:  48; top: 162; width:  20; height:  22; }
#door_o2_clearance_r2.door  { left:  68; top: 162; width:  20; height:  22; }
#door_o3_clearance_r1.door  { left:  23; top: 139; width:  22; height:  20; }
#door_o3_clearance_r3.door  { left:  23; top: 119; width:  22; height:  20; }
#door_o4_clearance_r3.door  { left: 119; top:  84; width:  20; height:  20; }
#door_o4_clearance_r4.door  { left: 139; top:  84; width:  20; height:  20; }
#door_o5_clearance_r4.door  { left: 209; top: 119; width:  20; height:  20; }
#door_o5_clearance_r5.door  { left: 209; top: 139; width:  20; height:  20; }

#window_o6.window           { left: 246; top:  77; width:   8; height:  34; --sill: 20; }
#window_o7.window           { left:  50; top:  49; width:  40; height:   8; --sill: 22; }
#window_o8.window           { left: 110; top: 198; width:  30; height:   8; --sill: 24; }
#window_o9.window           { left:  22; top: 198; width:  24; height:   8; --sill: 22; }
#window_o10.window          { left: 207; top: 198; width:  24; height:   8; --sill: 22; }
