/* 256x256 grid | 1px = 0.024033m | ceiling: 113px */

#r1_0.room                  { left:   3; top:  24; width: 250; height:  79; /* Great Room (1/5) */ }
#r1_1.room                  { left:   3; top: 103; width: 167; height:  67; /* Great Room (2/5) */ }
#r1_2.room                  { left: 170; top: 109; width:  83; height: 123; /* Great Room (3/5) */ }
#r1_3.room                  { left:   3; top: 170; width: 103; height:  62; /* Great Room (4/5) */ }
#r1_4.room                  { left: 111; top: 170; width:  59; height:  62; /* Great Room (5/5) */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  24; }
#structure_1.obstacle       { left:   0; top:  24; width:   3; height: 232; }
#structure_2.obstacle       { left: 253; top:  24; width:   3; height: 232; }
#structure_3.obstacle       { left: 170; top: 103; width:  83; height:   6; }
#structure_4.obstacle       { left: 106; top: 170; width:   5; height:  86; }
#structure_5.obstacle       { left:   3; top: 232; width: 103; height:  24; }
#structure_6.obstacle       { left: 111; top: 232; width: 142; height:  24; }
#door_o1_clearance.door     { left:   3; top: 110; width:  34; height:  38; }

#window_o2.window           { left:  96; top:  23; width:  60; height:  13; --sill: 38; }
