/* 256x256 grid | 1px = 0.024033m | ceiling: 113px */

#r1_0.room                  { left:   3; top:  45; width: 208; height: 166; /* Studio (1/2) */ }
#r1_1.room                  { left: 211; top:  65; width:  42; height:  63; clip-path: polygon(1% 100%, 1% 1%, 100% 1%); /* Studio (2/2) */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  45; }
#structure_1.obstacle       { left:   0; top:  45; width:   3; height: 211; }
#structure_2.obstacle       { left: 211; top:  45; width:  45; height:  21; }
#structure_3.obstacle       { left: 252; top:  66; width:   4; height: 190; }
#structure_4.obstacle       { left:   3; top: 211; width: 208; height:  45; }
#structure_5.obstacle       { left: 211; top:  65; width:  42; height:  63; clip-path: polygon(1% 100%, 100% 100%, 100% 1%); }
#structure_6.obstacle       { left: 211; top: 128; width:  42; height: 128; }
#door_o1_clearance.door     { left:   3; top: 110; width:  34; height:  38; }

#window_o2.window           { left:  80; top:  44; width:  50; height:  13; --sill: 34; }
