/* 256x256 grid | 1px = 0.02208m | ceiling: 127px */

#r1_0.room                  { left:   3; top:  37; width: 182; height: 182; /* Sunroom (1/2) */ }
#r1_1.room                  { left: 184; top:  37; width:  69; height: 182; clip-path: polygon(1% 100%, 99% 50%, 1% 0%); /* Sunroom (2/2) */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:  37; }
#structure_1.obstacle       { left:   0; top:  37; width:   3; height: 219; }
#structure_2.obstacle       { left: 252; top: 127; width:   4; height: 129; }
#structure_3.obstacle       { left:   3; top: 219; width: 182; height:  37; }
#structure_4.obstacle       { left: 184; top: 128; width:  69; height:  91; clip-path: polygon(1% 100%, 99% 100%, 99% 0%); }
#structure_5.obstacle       { left: 184; top:  37; width:  69; height:  91; clip-path: polygon(99% 100%, 99% 0%, 1% 0%); }
#structure_6.obstacle       { left: 184; top: 219; width:  69; height:  37; }
#door_o1_clearance.door     { left:   3; top: 108; width:  37; height:  42; }

