/* 256x256 grid | 1px = 0.031845m | ceiling: 85px */

#r1_0.room                  { left:   2; top:   2; width: 126; height:  79; /* Living Room (1/2) */ }
#r1_1.room                  { left: 128; top:   2; width:  48; height:  79; clip-path: polygon(0% 0%, 0% 100%, 98% 100%); /* Living Room (2/2) */ }
#r2_0.room                  { left: 179; top:   2; width:  75; height:  79; /* Bedroom (1/2) */ }
#r2_1.room                  { left: 131; top:   2; width:  49; height:  79; clip-path: polygon(98% 100%, 98% 0%, 2% 0%); /* Bedroom (2/2) */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:   2; }
#structure_1.obstacle       { left:   0; top:   2; width:   2; height: 254; }
#structure_2.obstacle       { left: 254; top:   2; width:   2; height: 254; }
#structure_3.obstacle       { left: 175; top:  80; width:   4; height: 176; }
#structure_4.obstacle       { left:   2; top:  81; width: 173; height: 175; }
#structure_5.obstacle       { left: 179; top:  81; width:  75; height: 175; }
#structure_6.obstacle       { left: 128; top:   2; width:  48; height:  79; clip-path: polygon(0% 0%, 98% 0%, 98% 100%); }
#structure_7.obstacle       { left: 128; top:  81; width:  48; height: 175; }
#structure_8.obstacle       { left: 131; top:   2; width:  49; height:  79; clip-path: polygon(98% 100%, 2% 100%, 2% 0%); }
#structure_9.obstacle       { left: 131; top:  81; width:  49; height: 175; }
#door_o1_clearance.door     { left:   2; top:  27; width:  26; height:  30; }
#door_o2_clearance.door     { left: 227; top:  27; width:  26; height:  30; }

