/* 256x256 grid | 1px = 0.024033m | ceiling: 113px */

#r1_0.room                  { left:   3; top:   3; width: 103; height: 208; /* Great Room (1/5) */ }
#r1_1.room                  { left: 111; top:   3; width: 142; height: 123; /* Great Room (2/5) */ }
#r1_2.room                  { left: 106; top:  66; width:   5; height: 145; /* Great Room (3/5) */ }
#r1_3.room                  { left: 111; top: 126; width:  59; height:  85; /* Great Room (4/5) */ }
#r1_4.room                  { left: 170; top: 132; width:  83; height:  79; /* Great Room (5/5) */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:   3; }
#structure_1.obstacle       { left:   0; top:   3; width:   3; height: 253; }
#structure_2.obstacle       { left: 106; top:   3; width:   5; height:  63; }
#structure_3.obstacle       { left: 253; top:   3; width:   3; height: 253; }
#structure_4.obstacle       { left: 170; top: 126; width:  83; height:   6; }
#structure_5.obstacle       { left:   3; top: 211; width: 250; height:  45; }
#door_o1_clearance.door     { left:   3; top:  86; width:  34; height:  38; }

#window_o2.window           { left:  96; top: 198; width:  60; height:  13; --sill: 38; }
