/* 256x256 grid | 1px = 0.041716m | ceiling: 68px */

#r1.room                    { left:   2; top:   2; width:  89; height:  89; /* Kitchen */ }
#r2.room                    { left:  94; top:   2; width:  88; height:  89; /* Dining Room */ }
#r3.room                    { left:  94; top:  94; width: 160; height:  88; /* Living Room */ }
#r4.room                    { left:   2; top:  94; width:  89; height:  88; /* Bedroom */ }

#structure_0.obstacle       { left:   0; top:   0; width: 256; height:   2; }
#structure_1.obstacle       { left:   0; top:   2; width:   2; height: 254; }
#structure_2.obstacle       { left:  91; top:   2; width:   3; height: 254; }
#structure_3.obstacle       { left: 182; top:   2; width:  74; height:  92; }
#structure_4.obstacle       { left:   2; top:  91; width:  89; height:   3; }
#structure_5.obstacle       { left:  94; top:  91; width:  88; height:   3; }
#structure_6.obstacle       { left: 254; top:  94; width:   2; height: 162; }
#structure_7.obstacle       { left:   2; top: 182; width:  89; height:  74; }
#structure_8.obstacle       { left:  94; top: 182; width: 160; height:  74; }
#door_o1_clearance.door     { left:   1; top:  35; width:  20; height:  22; }
#door_o2_clearance_r1.door  { left:  72; top:  31; width:  20; height:  30; }
#door_o2_clearance_r2.door  { left:  92; top:  31; width:  20; height:  30; }
#door_o3_clearance_r2.door  { left: 126; top:  72; width:  22; height:  20; }
#door_o3_clearance_r3.door  { left: 126; top:  92; width:  22; height:  20; }
#door_o4_clearance_r3.door  { left:  92; top: 127; width:  20; height:  20; }
#door_o4_clearance_r4.door  { left:  72; top: 127; width:  20; height:  20; }

#window_o5.window           { left: 246; top: 120; width:   8; height:  34; --sill: 20; }
#window_o6.window           { left:  31; top: 174; width:  30; height:   8; --sill: 22; }
#window_o7.window           { left:  34; top:   1; width:  24; height:   8; --sill: 22; }
#window_o8.window           { left: 125; top:   1; width:  24; height:   8; --sill: 22; }
